
        <div class="panel-body">
          <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
            <div class="form-group">
              <h2>Welcome Back</h2>
            </div>
            <div class="form-group">
              <label class="control-label" for="nickname">Username</label>
              <input id="nickname" type="text" maxlength="50"formControlName="nickname" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="password">Password</label>
              <input id="password" type="password" maxlength="25" formControlName="password"class="form-control" length="40">
            </div>
            <div class="form-group">
              <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Log In</button>
            </div>
            <hr>
          </form>
        </div>

