
<div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <div class="prodList">
            <form>
                <input (keyup)="applyFilter($event)"  placeholder="Filter">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                  </button>
             </form>
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredProducts">
                            <td>{{product.id}}</td>
                            <td>{{product.code}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td><a [routerLink]="['/products','edit',product.id]"><i class="bi bi-pencil-fill"></i> </a></td>
                            <td><button (click)="deleteProduct(product.id)" class="delete-button"> <i class="bi bi-trash-fill "></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>
<router-outlet></router-outlet>