    <div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="prodList">
                <form>
                    <input (keyup)="applyFilter($event)"  placeholder="Filter" style="margin-right: 5%;">
                    <button mat-button (click)="openModal('addProduct')">Add Product</button>
                    </form>
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of filteredProducts">
                                <td>{{product.id}}</td>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td><a [routerLink]="['/products','edit',product.id]" class="btn btn-light" style="margin: 1%"><i class="bi bi-pencil-fill"></i> Edit</a>
                                <button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>