<div class="container-fluid" novalidate>
    <form class="form-row" #form="ngForm" (ngSubmit)="updateProduct()" >
        <div class="col-md-4 mb-3">
            <h1 class="p-3">Edit Product</h1>
            <h3 class="px-3">Code</h3> 
            <input type="text" class="form-control" [(ngModel)]="productDetails.code"
            id="code" name="code"  placeholder="" >
                <h3 class="px-3">Name</h3> 
            <input type="text" id="name" name="name" class="form-control" placeholder="" [(ngModel)]="productDetails.name">
                <h3 class="px-3 pt-3">Price</h3> 
            <input type="text" id="price" name="price" class="form-control" placeholder="" [(ngModel)]="productDetails.price">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="right btn btn-dark">SAVE</button>
                </div>
            </div>
        </div>
    </form>
</div>
