
<form class="form" #form="ngForm" (ngSubmit)="updateProduct()" >
    <div>
        <h1 class="p-3">Edit Product</h1>
        <h3 class="px-3">Code</h3> 
        <input type="text" class="form-control" [(ngModel)]="productDetails.code"
        id="code" name="code"  placeholder="" >
            <h3 class="px-3">Name</h3> 
        <input type="text" id="name" name="name" class="form-control" placeholder="" [(ngModel)]="productDetails.name">
            <h3 class="px-3 pt-3">Price</h3> 
        <input type="text" id="price" name="price" style="max-width: 50px; margin-left: 2%;" class="form-control" placeholder="" [(ngModel)]="productDetails.price">
        <input type="text" id="taxRate" name="taxRate" style="max-width: 50px; margin-left: 2%;" class="form-control" placeholder="" [(ngModel)]="productDetails.taxRate">
        <button class="btn btn-lg btn-dark" >SAVE</button>
    </div>
</form>


