<form  #form="ngForm" (ngSubmit)="addProduct()">
    <div >
        <h1 class="p-3">Add Product</h1>
        <h3 class="px-3">Code</h3> 
        <input type="text" class="form-control" 
        id="code" name="code"  placeholder="" [(ngModel)]="newProduct.code">
            <h3 class="px-3">Name</h3> 
        <input type="text" id="name" name="name" class="form-control" placeholder="" [(ngModel)]="newProduct.name">
            <h3 class="px-3 pt-3">Price</h3> 
        <input type="text" id="price" name="price" class="form-control"  style="max-width: 50px;"placeholder="" [(ngModel)]="newProduct.price">
        <div class="">
            <div class="p-2">
                <button class="btn-lg btn btn-dark">ADD</button>
            </div>
        </div>
    </div>
</form>

